name: Build

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types:
      - published
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout :)
        uses: actions/checkout@v2.3.1

      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@nodis-com-br'

      - name: Cache dependencies ⚙️
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies ⏳
        run: yarn --frozen-lockfile

      - name: Build ⚒
        run: yarn build

      - name: "Publish Artefacts"
        uses: actions/upload-artifact@v2.3.1
        with:
          name: ubuntu-latest
          path: |
            ./dist
            package.json

  push-github-packages:
    name: "Push GitHub Packages"
    needs: build
    if: github.ref == 'refs/heads/main' || github.event_name == 'release'
    environment:
      name: "GitHub Packages"
      url: https://github.com/nodis-com-br/nestjs-core/packages
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write 
    steps:
      - name: "Download Artefact"
        uses: actions/download-artifact@v3
        with:
          name: "ubuntu-latest"
          
      - uses: actions/setup-node@v2
        with:
          always-auth: true
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@nodis-com-br'

      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}